body {
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: 'Karla', sans-serif
}

.header {
    background: rgb(16, 14, 23);
    margin-bottom: 15px;
    
    padding: 5px;
    color: #fff;
}

h2 {
    margin-bottom: 0;
}

.app-content {
    margin: 10px;
}

.input-box {
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
}

.summary-box {
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.summary-content {
    height: 500px;
    margin-top: 5px;
    overflow-y: auto;
    overflow-x: auto;
    border: 1px solid;
    padding: 10px;
}

.line-sep {
    border-bottom: 1px solid grey;
}

.padding-zero {
    padding: 0! important;
}

.preview-box {
    margin-top: 25px! important;
}